*{
	margin: 0;
	padding: 0;
	boder: none;
}

a{
	color: #BF3A16;
}

a:hover{
    color: #FF3A16;
}

#main{
    margin: 0 auto;
	width: 1000px;
	height: 100px;
	background-color: #F8F8F3;
}

.wrapper{
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}

#main #header{
	padding-top: 30px;
}

#main #header #logo_slogan{
	clear: both;
	float: none;
}

#main #header #logo_slogan .logo{
	float: left;
	width: 19.75%;
	border-bottom: 2px solid #FFF;
}
#main #header #logo_slogan .logo img{
	width: 100%;
}

#main #header #logo_slogan .slogan{
	float: right;
	width: 50%;
    text-align: right;
}

#main #header #main_menu{                      
	clear: both;
	width: 100%;
	height: 50px;
	background-color: #EBE9D8;
}
#main #header #main_menu ul{
	border-right: 2px solid #FFF;
	height: 100%;
}
#main #header #main_menu ul li{
	list-style: none;
	width: 19.75%;
	float: left;
	text-align: center;
	border-left: 2px solid #FFF;
	height:100%;
}
#main #header #main_menu ul li:hover{
	background-color: #D4C69C;
}
#main #header #main_menu ul li a{
	width: 100%;
	color: #000;
	text-decoration: none;
	line-height: 50px;
}
#main #header #main_menu ul li a:hover{
	color: #FFF;	
}
#main #banner{
	background-color: #F8F8F3;
	border-bottom: 5px solid #E2E0CF;
}

#main #banner .banner_text{
	float: left;
}

#main #banner .banner_img{
	float: right; 
}

#main .container{
	width: 100%;
	padding: 30px 0;
}
#main #container_one{
	background-color: #EBE9D8;
}

#main #container_two{
    background-color: #DAD5BB;
}

#main .container .child_container{
	float: left;
	width: 33.33%;
}

#main .container .child_container div.headline{
	color: #000000;
	font-size: 30px; 
}

#main .container .child_container div.leadtext{
	color: #904F3A;
    font-size: 20px;
    font-style: italic;
}

#main .container .child_container div.toptext{
    color: #000000;
    font-size: 17px;
    margin-top: 30px;
}

#main .container .child_container div.bodytext{
	color: #000000;
    font-size: 17px;
    margin-top: 30px;
}

#main .container .child_container div.author{
	margin-top: 10px;
}

#main .container .child_container div.author div{
	float:left;
}

#main .container .child_container div.author .author_intro{
	padding: 15px;
}
#main .container .child_container div.bodytext .img{margin-top: 30px}
#main .container .child_container div.bodytext .list{list-style: none;float: right}

.newsletter_box{
    padding: 10px 15px;
    margin-top: 25px;
	background-color: #BF3A16;
    -moz-border-radius: 2%;
    border-radius: 2%;
}

.newsletter_box span{
    color: WHITE;
    font-size: 30px;
}

.newsletter_box input[type="text"]{
    width: 75%;
    height: 20px;
    /*-moz-border-radius: 2%;
    border-radius: 2%;*/
}

.newsletter_box form{
    margin-top: 10px;
}

.newsletter_box input[type="submit"]{
    background: #F7931D;
    color: WHITE;
    width: 20%;
    height: 20px;
}

.newsletter_box a{
    color: WHITE;
}

#main .container ul li{
    list-style-position: inside;
    margin-bottom: 10px;
}

#main .container .more_links{
    margin-top: 25px;
}

#main .container .more_links a{
    color: #5B594C;
}

#container_one ul li{
   list-style-image: url("images/li-image1.png");
}

#container_two ul li{
   list-style-image: url("images/li-image1.png");
}

#footer{
    padding: 20px 0;
}

#footer .wrapper span{
    color: #5B594C;
}

#footer .wrapper a{
    text-decoration: none;
}

